{% extends 'base.html' %}
{% block content %}

Today is {{ today_date }}


    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="http://publicservice.berkeley.edu/build">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation">Logout</li>
                <!--make this appear only when user is logged in-->
            
    
    <hr>
          </ul>
        </nav>
        <h3 class="text-muted">BUILD Reads</h3>
      </div>

      <div class="jumbotron">
        <h1>Welcome BUILD reads! Please login</h1>
        
        <form action="/resolve_login" method="POST">
  <p>

<h3>Are you a BUILD: </h3>

  <input type="radio" name="user_type" value="scholar"> Scholar<br>
  <input type="radio" name="user_type" value="mentor"> Mentor<br>
  <br>
    <label for="first-name">First Name:</label>
      <input type="text" name="first_name" placeholder="first name">
      <br>
    <label for="last-name">Last Name:</label>
      <input type="text" name="last_name" placeholder="last name">
      <br>  
    <label>Password:  </label>
      <input type="password" name="password" placeholder="password" value="password">
  <br>
  <input type="submit" value="login">
  
  </form>
  
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>

    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


</form> 
</div>
        
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>



{% endblock %}