{% extends 'base.html' %}
{% block content %}

Today is {{ today_date }}


 <h2>Mentor Details</h2>

<!-- Set up your HTML -->
   <h3> Main Recommendations</h3>
    {% for book in book_display %}
    
    <tr class="table table-condensed" border=1> 
    
    <br>

       <td><img src="{{ book.image_url_md }} "></img></td>
       <!--<td> {{ book.title }} </td>-->
       <td> {{ book.description }} </td>
     </tr>

    {% endfor %}
    
    <h3> Main Recommendations</h3>
        {% for book in book_display %}
    
    <tr class="table table-condensed" border=1> 
    
    <br>

       <td><img src="{{ book.image_url_md }} "></img></td>
       <!--<td> {{ book.title }} </td>-->
       <td> {{ book.description }} </td>
     </tr>

    {% endfor %}


<script type="text/javascript">
    // $(document).ready(function() {
      
    //  // initialize carousel
    //   $("#img-carousel").owlCarousel({
    //         //Lazy load
    //         lazyLoad : false,
    //         lazyFollow : true,
    //         lazyEffect : "fade",
    //     });
    // });
</script> 

<!-- Important Owl stylesheet -->
<link rel="stylesheet" href="static/js/vendors/owl-carousel/owl.carousel.css">
 
<!-- Default Theme -->
<link rel="stylesheet" href="static/js/vendors/owl-carousel/owl.theme.css">
 
<!-- Include owl js plugin -->
<script src="static/js/vendors/owl-carousel/owl.carousel.js"></script>
{% endblock %}