{% extends 'base.html' %}
{% block content %}

Today is {{ today_date }}
<br>
<img src='http://publicservice.berkeley.edu/sites/default/files/BUILDSitesBanner_0.jpg'>
<br>
 <h2>Mentor Details</h2>
<br>

      <div class="interestChart" >
        <h3>Mentors Reporting of Scholars' Reading Confidence Increases</h3>
        <canvas id="interestChart" height="200px"></canvas>
        <div id="interestLegend" class="chart-legend"></div>
      </div>
           
      <br>

    <script>


      // global variable to make chart mobile responsive
       var options = { responsive: true };
       
      // select html id readingCharts & returns method for canvas element
       var donut_data = $("#interestChart").get(0).getContext("2d");
      
      // AJAX request to grab data from /reading-chart.json route
      $.get("/mentor-chart.json", function (data) {
        
          // readingChart is rendered by calling on Doughnut function
      var interestChart = new Chart(donut_data).Doughnut(data,options);
      
        // // jquery to get html id readingLegend to generate chart legend
        $('#rinterestLegend').html(myDonutChart.generateLegend());
        
        });
        
    </script>



<!-- Set up your HTML -->
   <h3> Recommended</h3>
    {% for book in book_display %}
    
    <tr class="table table-condensed" border=1> 
    
    <br>

       <td><img src="{{ book.image_url_md }} "></img></td>
       <!--<td> {{ book.title }} </td>-->
       <td> {{ book.description }} </td>
     </tr>

    {% endfor %}
    
    <h3> Recommended for Fantasy /Sci fi readers</h3>
        {% for book in sci_fan_display %}
    
    <tr class="table table-condensed" border=1> 
    
    <br>

       <td><img src="{{ book.image_url_md }} "></img></td>
       <!--<td> {{ book.title }} </td>-->
       <td> {{ book.description }} </td>
     </tr>

    {% endfor %}


{% endblock %}