{% extends 'base.html' %}
{% block content %}



<form action='/register_new_user' method="POST">
  <p>
    <h2>Welcome to BUILD! We're happy to meet you!</h2>
    
    <label for="first-name">First Name:</label>
      <input type="text" name="first_name" placeholder="first name">
      <br>
    <label for="last-name">Favorite Food:</label>
      <input type="text" name="favorite_food" placeholder="favorite food">
      <br>
    <label for="birthday">Your Birthday:</label>
      <input type="text" name="birth_year" placeholder="YYYY">
      <br>
    <label for="School">BUILD Site:</label>
      <select name="school">
        {% for site in sites  %}
        <option placeholder="choose your school" value="{{ site }}">{{ site }}</option>
        {% endfor %}
      </select>
      <br>
    <label for="Grade">Your Grade:</label>
      <select name="grade">
        {% for grade in grades %}
        <option placeholder="choose your school grade" value="{{ grade }}">{{ grade }}</option>
        {% endfor %}
      </select>
    
  </p>
  <p>
    <label>Favorite Animal</label>
      <input type="text" name="favorite_animal" placeholder="favorite food" value="password" >

  </p>
  <input type="Submit" value="Register">
  
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>

      <a href='/reading_session'><button>Let's start a reading session</button></a>

    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}




{% endblock %}