{% extends 'base.html' %}
{% block content %}

<form action='/register_new_user' method="POST">
  <p>
    <h2>New BUILD reader</h2>
    
    <label for="first-name">First Name:</label>
      <input type="text" name="first_name" placeholder="first_name">
      <br>
    <label for="last-name">Last Name:</label>
      <input type="text" name="last_name" placeholder="first_name">
      <br>
    <label for="birthday">Your Birthday:</label>
      <input type="text" name="birthday" placeholder="YYYY-MM-DD">
      <br>
    <label for="School">Your School:</label>
      <select name="school">
        {% for site in sites  %}
        <option placeholder="choose your school" value="{{ site.name }}">{{ site.name }}</option>
        {% endfor %}
      </select>
      <br>
    <label for="Grade">Your Grade:</label>
      <select name="grade">
        {% for grade in grades %}
        <option placeholder="choose your school grade" value="{{ grade }}">{{ grade }}</option>
        {% endfor %}
      </select>
    
  </p>
  <p>
    <label>Password:  </label>
      <input type="text" name="password" placeholder="password" value="password" >

  </p>
  <input type="Submit" value="Register"/>
  
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>

      <button action='/reading_session'>Let's start a reading session</button>

    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{{ msg }}


{% endblock %}