{% extends 'base.html' %}
{% block content %}

Today is {{ today_date }}

  <p>
    <h2>Your Reading Journeys!</h2>

<!-- flash message from @app.route("/user/<int:user_id>")-->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
   {% if avatar %}  
      <i class='{{ avatar }}'></i> 
    {% endif %}


      You attend {{ user_details.site.name }}
      <br> 
      Your grade is {{ user_details.grade }}
      <br>
      
    
  
      <br>

      Today you read for {{ time_length }} minutes and earned a {{ badge_data.name  }}
        <table>
        <tr>
          <td> <img src="{{ badge_data.badge_url }}"> </td>
          <td>{{ badge_data.description  }}</td>
     
        </tr>
      </table>
      
      <li>You read a total of {{ time }} minutes!!</li>
      You earned these badges!
      {% for key, value in badges_dict.items() %}
        
        <table>
        <tr>
          <td> <img src="{{ value['url'] }}"> </td>
          <td>{{ key }}</td>
          <td>{{ value['count'] }}</td>
        </tr>
      </table>
      
      {% endfor %}

      You rated these books!

      {% for key, value in book_rating_dict.items() %}
    
    <table>
      
      <tr>
        <td> <img src="{{ value['img'] }}"> </td>
        <td>{{ key }}</td>
        <td>{{ value['avg_score'] }}</td>
        <td>{{ value['description'] }}</td>
      </tr>
    </table>
      {% endfor %}


<br>
<a href='/reading_session'><button>Let's start a new reading session!</button></a>

{% endblock %}