{% extends 'base.html' %}
{% block content %}



  <p>
    <h2>Your Reading Journeys!</h2>

<!-- flash message from @app.route("/user/<int:user_id>")-->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <h3><li>{{ message }}</li></h3>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
    <div class='row'>
      <div class="col col-xs-4">
       {% if avatar %}  
          <i class='{{ avatar }}'></i> 
        {% endif %}
      </div>

      <div class="col col-xs-4">  
        You attend {{ user_details.site.name }}
      </div>
      <div class="col col-xs-4">
        <br> 
        Your grade is {{ user_details.grade }}
        <br>
      </div>
    </div>
    
    
    <div class='row'>
      <div class="col col-xs-1">
       <h4><strong>Today:</strong></h4>
      </div>

      <div class="col col-xs-5">  
        <h5>you read for {{ time_length }} minutes...</h5>
      </div>
      <div class="col col-xs-6">
        <table class="table table-responsive table-condensed">
          <tr>
            <td>...and earned a {{ badge_data.name  }}</td>
            <td> <img src="{{ badge_data.badge_url }}"> </td>
            <td>...{{ badge_data.description  }}</td>
          </tr>
        </table>
      </div>
    </div>
    
    

      <div>
        <h4>You read a total of {{ time }} minutes!!</h4>      
      </div>
      
      <div class="readingchart" >
        <canvas id="readingChart" height="200px"></canvas>
        <div id="readingLegend" class="chart-legend"></div>
      </div>
           
      <br>


    <script>


      // global variable to make chart mobile responsive
       var options = { responsive: true };
       
      // select html id readingCharts & returns method for canvas element
       var donut_data = $("#readingChart").get(0).getContext("2d");
      
      // AJAX request to grab data from /reading-chart.json route
      $.get("/reading-chart.json", function (data) {
        
          // readingChart is rendered by calling on Doughnut function
      var readingChart = new Chart(donut_data).Doughnut(data.books,options);
      
        // // jquery to get html id readingLegend to generate chart legend
        $('#readingLegend').html(myDonutChart.generateLegend());
        
        });
        
    </script>
     


      
 
      <h4><strong>You earned these badges!</strong></h4>
      {% for key, value in badges_dict.items() %}
        
        <table class="table table-responsive table-condensed">
        <tr>
          <th>
            
            <td class="col-md-4">name</td>
            <td class="col-md-4">count</td>
          </th>
        </tr>
        <tr>
          <td> <img src="{{ value['url'] }}"> </td>
          <td>{{ key }}</td>
          <td>{{ value['count'] }}</td>
        </tr>
      </table>
      
      {% endfor %}

      <h4><strong>You rated these books!</strong></h4>

      {% for key, value in book_rating_dict.items() %}
    
    <table class="table table-responsive table-condensed" >
      
      <tr>
        <td class="col-md-2"> <img src="{{ value['img'] }}"> </td>
        <td class="col-md-3">{{ key }}</td>
        <td class="col-md-1">{{ value['avg_score'] }}</td>
        <td class="col-md-6"> {% for comment in value['comments'] %}
          <ul>
            <li> {{ comment }}
            </li>
          </ul>
          {% endfor %}
        </td>
      </tr>
    </table>
      {% endfor %}


<br>
<a href='/reading_session'>
  <button class='btn btn-success'>Let's start a new reading session!</button>
</a>

{% endblock %}