{% extends 'base.html' %}
{% block content %}

Today is {{ today_date }}

  <p>
    <h2>Your Reading Journeys!</h2>

<!-- flash message from @app.route("/user/<int:user_id>")-->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
   {% if avatar %}  
      <i class='{{ avatar }}'></i> 
    {% endif %}


      You attend {{ user_details.site.name }}
      <br> 
      Your grade is {{ user_details.grade }}
      <br>
      Today you read for {{ time_length }} minutes and earned a {{ badge_data.name  }} 
    
  
      <br>
      
      <div class="readingchart" >
        <canvas id="readingChart" height="200px"></canvas>
        <div id="readingLegend" class="chart-legend"></div>
      </div>
           
      <br>
      <li>You read a total of {{ time }} minutes!!</li>

    <script>


      // global variable to make chart mobile responsive
       var options = { responsive: true };
       
      // select html id readingCharts & returns method for canvas element
       var donut_data = $("#readingChart").get(0).getContext("2d");
      
      // AJAX request to grab data from /reading-chart.json route
      $.get("/reading-chart.json", function (data) {
        
          // readingChart is rendered by calling on Doughnut function
      var readingChart = new Chart(donut_data).Doughnut(data.books,options);
      
        // // jquery to get html id readingLegend to generate chart legend
        $('#readingLegend').html(myDonutChart.generateLegend());
        
        });
        
    </script>
     
     
        <table border=1>
        <tr>
          <td> <img src="{{ badge_data.badge_url }}"> </td>
          <td>{{ badge_data.description  }}</td>
     
        </tr>
      </table>
      
 
      You earned these badges!
      {% for key, value in badges_dict.items() %}
        
        <table border=1>
        <tr>
          <td> <img src="{{ value['url'] }}"> </td>
          <td>{{ key }}</td>
          <td>{{ value['count'] }}</td>
        </tr>
      </table>
      
      {% endfor %}

      You rated these books!

      {% for key, value in book_rating_dict.items() %}
    
    <table border=1>
      
      <tr>
        <td> <img src="{{ value['img'] }}"> </td>
        <td>{{ key }}</td>
        <td>{{ value['avg_score'] }}</td>
        <td>{{ value['description'] }}</td>
      </tr>
    </table>
      {% endfor %}


<br>
<a href='/reading_session'><button>Let's start a new reading session!</button></a>

{% endblock %}